main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../assets/hero-img.jpg");
    background-position: center top;
    background-size: cover;
}

/************** COMPONENTS **************/


.form-login {
    width: clamp(18rem,25vw,25rem);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: transparent;
}

.form-login__img {
    display: block;
    margin: 0 auto 1rem auto;
    width: 10rem;
}

.form-login__button {
    width: 95%;
    margin: .5rem auto 0 auto;
    padding: .7rem;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 1.5rem;
    outline: none;
    transition: background-color .3s ease;
    cursor: pointer;
}

.form-login__button:hover {
    background-color: var(--white-transparent);
}

.form-login__inputs-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:  0 auto;
}

.form-login__text {
    margin: 1rem auto .2rem auto;
    color: var(--white);
}

.form-login__link {
    text-decoration: none;
    color: var(--blue);
}

.form-login__link:visited {
    color: var(--blue)
}

.form-field {
    display: flex;
    margin: .5rem;
    padding: .8rem;
    background-color: var(--white-transparent);
    border-radius: 1.5rem;
}

.form-field__icon {
    color: var(--white-transparent-2);
}

.form-field__input {
    margin-left: .4rem;
    font-size: 1rem;
    color: var(--white-transparent-3);
    background-color: transparent;
    border: none;
    outline: none;
}



